#notification-wrapper, #control-menu-wrapper {
    background-color: rgba(0,0,0,0.7);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 800ms;
    display:block;
    opacity: 100%;
    z-index: 998;
}

#notification, .control-menu {
    margin: 5% 5%;
    overflow-y: auto;
    background-color: black;
    padding: 3%;
    z-index: 999;
}

#control-menu-wrapper, .control-menu {
    display: none;
}

#notification h1 {
    font-size: 5em;
    width: 100%;
}

#close-notif {
    padding: 1em;
    margin: 0.8em;
    width: max-content;
}

#balance-indicator {
    width: 100%;
    text-align: center;
    margin: 2vh 0;
}

#control-panel {
    display: flex;
    flex-direction: column;
    margin: 0 40%;
    align-items: center;
    gap: 3vh;
}

#control-panel button {
    border-radius: 0;
    border: 2px solid white;
    background-color: black;
    width: 100%;
}

.control-menu {
    /* display:flex; */
    flex-direction: column;
    align-items: center;
}